@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-justify($content) {
  display: flex;
  flex-direction: row;
  justify-content: $content;
  align-items: center;
}

@mixin flex-column-justify($content) {
  display: flex;
  flex-direction: column;
  justify-content: $content;
  align-items: center;
}

@mixin navigation-links() {

  a,
  button {
    @include flex-row-justify(center);
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 50rem;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--primary-dark);
    font-weight: bold;
    background-color: transparent;

    &:hover,
    &.active {
      background-color: var(--secondary-dark);
    }
  }

  &.no-hover {

    a,
    button {
      background: none;
      color: inherit;
    }
  }

  &.off-stream {
    display: inline-flex;
    position: absolute;
    height: 6.9rem;
    left: 2.3rem;
  }
}

@mixin clip($color, $dimension) {
  height: $dimension;
  width: $dimension;
  background: $color;
  clip-path: circle(50% at 50% 50%);
}

@mixin box() {
  @include flex-column-justify(center);
  height: 100%;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
  background-color: $default;

  span {
    padding: 1rem;
    font-size: 2rem;

    i {
      display: flex;
      justify-content: center;
      font-size: 5rem;
    }
  }

  &:hover {
    color: $default;
    background: $hover-dark;
  }
}

@mixin glassmorphism() {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin background() {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}