/**
 * Basic typography style for copy text
 */
@font-face {
  font-family: "Alexana";
  src: url("../fonts/alexana/Alexana.ttf") format("truetype");
}

@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/cartograph/CartographCF-Regular.otf") format("opentype");
}
