//tab nav
.nav.nav-tabs {
    .nav-item {
        .nav-link {
            color: $primary;

            &.active {
                color: $secondary;
                font-weight: bold;
            }
        }
    }
}

.accordion {
    .accordion-item {
        .accordion-header {
            .accordion-button {
                color: $primary;

                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: none;
                }

                &[aria-expanded="true"] {
                    color: $secondary;
                    font-weight: bold;
                    background-color: lighten($primary, 60);
                }
            }
        }
    }

    .accordion-body {
        color: $dark;
    }
}