.button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;

    .loader {
        width: 20px;
        height: 20px;
        border: 2px solid #FFF;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        &::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            left: 50%;
            top: 0;
            background: #FF3D00;
            width: 2px;
            height: 8px;
            transform: translateX(-50%);
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.button-add-files {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    cursor: pointer;
    color: #fff;
    border: 1px solid darken($secondary, 10%);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $secondary;

    &:hover {
        border-radius: 5px !important;
        background: darken($secondary, 10%);

        .button-add-files__text {
            color: transparent;
        }

        .button-add-files__icon {
            width: 100%;
            transform: translateX(0);
            border-radius: 5px;
        }
    }

    &:active {
        border: 1px solid darken($secondary, 20%);

        .button-add-files__icon {
            background-color: darken($secondary, 20%);
        }
    }

    i {
        font-size: 20px;
    }

    &__icon,
    &__text {
        transition: all 0.3s;
    }

    &__text {
        padding: 15px;
        font-weight: 600;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 40px;
        border: 1px solid darken($secondary, 10%);
        border-left: transparent;
        width: 40px;
        right: 0;
        transform: translateX(100%);
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $secondary;
    }
}