.card {
    position: relative;

    &__link {
        position: absolute;
        inset: 0;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}