header {
  min-height: 7vh;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $primary;
  box-shadow: 0 4px 20px 2px #3e3e3e;

  .navbar {
    .button-burger {
      outline: none;
      border: none;
      font-size: 20px;
      color: $light;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }

      &:hover {
        color: $secondary;
      }

      &::after {
        content: "\f00d";
        font-family: $fontAwesomeFree;
        font-weight: 900;
      }

      &.collapsed::after {
        content: "\f0c9";
        font-family: $fontAwesomeFree;
        font-weight: 900;
      }

      span {
        display: none;
      }
    }

    .navbar-image {
      margin-right: 15px;
    }

    .navbar-nav {
      gap: 5px;

      a {
        font-size: 13px;
        color: $light;

        &:hover:not(.active) {
          color: $secondary;
          transform: translateY(-0.2rem);
        }

        &.active {
          position: relative;
          font-weight: bold;
          color: $secondary !important;

          &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -20px;
            width: 100%;
            height: 5px;
            background-color: $secondary;
          }
        }
      }
    }

    @media (max-width: $breakpoint-lg) {
      .navbar-nav {
        a {
          padding-left: 15px;

          &::after {
            top: 0 !important;
            width: 5px !important;
            height: 100% !important;
            left: 0 !important;
          }
        }
      }
    }
  }
}

.navbar {

  .navbar-nav {
      &:hover {
        color: $primary;
      }

      .active {
        font-weight: bold;
        color: $secondary !important;
      }
  }
}