.image-remove {
    cursor: pointer;
    position: relative;

    &:hover {
        &::after {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            inset: 0;
            content: "\f1f8";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: 25px;
            color: red;
            z-index: 1;
        }

        img {
            filter: opacity(0.4);
        }
    }
}