.table-firebase {
    thead th {
        position: sticky;
        top: 0;
        background-color: white; /* Important pour s'assurer que le texte en dessous ne passe pas à travers */
        z-index: 100; /* Assurez-vous que le thead reste au-dessus des autres contenus lors du défilement */
    }

    td {
        vertical-align: middle;

        p {
            margin: 0;
        }

        textarea {
            resize: none;
            background-color: transparent;
            width: 100%;
        }
        input {
            background: none;
        }
    }

    textarea {
        align-content: center;
    }

    select {
        min-width: 100px;
    }

    .state {
        &.success {

            th,
            td {
                background-color: rgb(127, 232, 127);
            }
        }

        &.to-watch {

            th,
            td {
                background-color: rgb(195, 128, 236);
            }
        }

        &.stopped {

            th,
            td {
                background-color: rgb(224, 22, 22);
            }
        }
    }

    .titre {
        min-width: 200px;
        text-transform: capitalize;
    }

    .note {
        input {
            max-width: 50px;
            background-color: transparent;
        }
    }

    .table-firebase-btn {
        display: flex;
        justify-content: space-between;
    }
}