.restaurants {
    row-gap: 1rem;

    &__filter {
        transition: max-height 1s ease-in-out;

        &.active {
            max-height: 100vh;
        }

        &.not-active {
            max-height: 30px;
            overflow: hidden;
            transition: max-height 1s ease-in-out;
        }

        &__item {
            margin-bottom: 10px;
            max-height: 200px;
            overflow-y: auto;

            label {
                cursor: pointer;
            }

            &__title {
                position: sticky;
                top: 0;
                background-color: $light;
            }
        }
    }

    &__list {
        padding-bottom: 50px;
        
        &__title {
            position: relative;

            .halal {
                position: absolute;
                top: -50%;
                right: -30px;
            }
        }
    }
}