.environment {
    .list-group-item {
        padding: 1rem;

        &.subTotal {
            background-color: lighten($primary, 50);
            color: $secondary;
        }

        &.total {
            font-weight: bold;
            background-color: lighten($default, 55);
        }
    }
}