.food {
    .list-group-item {
        padding: 1rem;
    }

    &__list {
        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.checked {
                p {
                    text-decoration: line-through;
                }
            }

            p {
                margin: 0;
            }
        }
    }
}