.wanted {
    article {
        &:hover {
            background-color: #b1adad63;
            cursor: pointer;
        }
    }

    .wanted-buy {
        background-color: #b1adad63;
        position: relative;

        &::after {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 30px;
            height: 30px;
            right: 0;
            top: -10px;
            content: "\f00c";
            font-family: $fontAwesomeFree;
            font-weight: 900;
            color: $light;
            border-radius: 50%;
            padding: 1rem;
            border: 1px solid green;
            background-color: green;
        }
    }
}