/* ************************************* Specific styles for design ************************************* */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-decoration: none;
  font-family: $font-01;

  &:focus {
    outline: 0;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

main {
  grid-column-start: 2;
}

h1 {
  font-family: $font-02 !important;
}

h2,
h3,
h4,
h5 {
  font-family: $font-01 !important;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

#root {
  min-height: 100vh;
  background-color: var(--dark);
}

.primary-color {
  color: $primary;
}

.secondary-color {
  color: $secondary;
}

.background-tertiary-color {
  background-color: $tertiary;
  border: $tertiary;
}

.background-danger-color {
  background-color: $danger;
  border: $danger;
}

.default-color {
  color: $default;
}

.vh-50 {
  height: 50vh !important;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.rg-10 {
  row-gap: 10px;
}

.width-fit-content {
  width: fit-content !important;
}

h2 {
  text-align: center;

  .subtitle {
    position: relative;
    text-align: center;
    font-weight: bolder;
    color: $primary;

    &::after {
      content: '';
      display: block;
      width: 80%;
      height: 15px;
      position: absolute;
      bottom: -5px;
      right: 0;
      background-color: lighten($secondary, 10);
      z-index: -1;
    }
  }
}

.text-content {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}